In [2]:
import numpy as np  
import matplotlib.pyplot as plt
import numpy as np
import xlrd
from arch.bootstrap import SPA

from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import acf, pacf
import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
from statsmodels.tsa.arima.model import ARIMA
import pandas as pd
from statsmodels.stats.diagnostic import acorr_ljungbox
from statsmodels.stats.diagnostic import het_arch
from statsmodels.stats.diagnostic import het_arch
from arch import arch_model

In [3]:
# read the data from the csv file /home/vishi/bolinger/22-05cumul_ohlc_diff_percent.csv

df = pd.read_csv('/home/vishi/bolinger/22-05cumul_ohlc_diff_percent.csv', index_col=0, parse_dates=True)
df.head()

,open,high,low,close,close_diff_percent,close_moving_avg,std,upper_bb,lower_bb,close_diff,close_scaled_down
DateTime,,,,,,,,,,,
2024-12-31 09:16:00,2355950,2356430,2354005,2355135,NaN,NaN,NaN,NaN,NaN,NaN,2355.135
2024-12-31 09:17:00,2355070,2356150,2354500,2355915,3.311912,NaN,NaN,NaN,NaN,780.0,2355.915
2024-12-31 09:18:00,2355980,2356025,2355100,2355405,-2.164764,NaN,NaN,NaN,NaN,-510.0,2355.405
2024-12-31 09:19:00,2355400,2357195,2355215,2356905,6.368332,NaN,NaN,NaN,NaN,1500.0,2356.905
2024-12-31 09:20:00,2356960,2357015,2355475,2355475,-6.067279,NaN,NaN,NaN,NaN,-1430.0,2355.475

In [5]:
data = df["close_scaled_down"].loc["2025-01-31 15:11":"2025-02-05"]
data.iloc[20-20:20]

DateTime
2025-01-31 15:11:00    2350.710
2025-01-31 15:12:00    2350.855
2025-01-31 15:13:00    2351.470
2025-01-31 15:14:00    2351.020
2025-01-31 15:15:00    2351.515
2025-01-31 15:16:00    2350.920
2025-01-31 15:17:00    2350.820
2025-01-31 15:18:00    2350.055
2025-01-31 15:19:00    2351.115
2025-01-31 15:20:00    2351.570
2025-01-31 15:21:00    2351.735
2025-01-31 15:22:00    2351.825
2025-01-31 15:23:00    2351.860
2025-01-31 15:24:00    2351.925
2025-01-31 15:25:00    2352.125
2025-01-31 15:26:00    2351.945
2025-01-31 15:27:00    2352.155
2025-01-31 15:28:00    2353.040
2025-01-31 15:29:00    2353.690
2025-01-31 15:30:00    2353.385
Name: close_scaled_down, dtype: float64

In [3]:
arr = np.array([1,2,3,4,5,6,7,8,9,10])

In [4]:
li = [3,2,7,5,8,6]
print(arr[li])  # [4 3 8 6 9 7]

[4 3 8 6 9 7]

In [4]:
data = df.loc[ "2024-12-31": "2025-02-01"]

In [5]:
# print last 5 of data
print(data.tail())

                        open     high      low    close  close_diff_percent  \
DateTime
2025-02-01 15:26:00  2347145  2347205  2346765  2347005           -0.617770
2025-02-01 15:27:00  2347040  2348135  2346980  2347910            3.855978
2025-02-01 15:28:00  2347915  2348270  2347530  2347845           -0.276842
2025-02-01 15:29:00  2347875  2348820  2347875  2348590            3.173123
2025-02-01 15:30:00  2348630  2349975  2348030  2349530            4.002401

                     close_moving_avg         std      upper_bb      lower_bb  \
DateTime
2025-02-01 15:26:00        2347971.75  938.286898  2.349848e+06  2.346095e+06
2025-02-01 15:27:00        2347913.00  900.956217  2.349715e+06  2.346111e+06
2025-02-01 15:28:00        2347833.75  827.184309  2.349488e+06  2.346179e+06
2025-02-01 15:29:00        2347823.25  815.524170  2.349454e+06  2.346192e+06
2025-02-01 15:30:00        2347828.25  826.131242  2.349481e+06  2.346176e+06

                     close_diff  close_scaled_down
DateTime
2025-02-01 15:26:00      -145.0           2347.005
2025-02-01 15:27:00       905.0           2347.910
2025-02-01 15:28:00       -65.0           2347.845
2025-02-01 15:29:00       745.0           2348.590
2025-02-01 15:30:00       940.0           2349.530